@media (max-width: 600px) {
.products {
    display: inherit;
    height: auto;
}
.product {
  margin-top: auto;
}

.main_section {
  padding: 4%;
}

section.content, section.content_menciones{
  display:inherit;
}

.box, section .box-menciones{
  margin: 0 auto;
}
section .box-menciones {
  margin-bottom: 5%;
}

}
